Repository hmcts/sscs-ccd-callback-orchestrator, pull requests merged in 2019-11, with the labels that each got.

#201 add queue password to values yaml
  build.gradle
  charts/sscs-ccd-callback-orchestrator/Chart.yaml
  charts/sscs-ccd-callback-orchestrator/requirements.yaml
  charts/sscs-ccd-callback-orchestrator/values.yaml
  config/owasp/suppressions.xml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-ccd-callback-orchestrator-pr-201

#204 Upgrade jackson to 2.10.0
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs-ccd-callback-orchestrator-pr-204

#200 Add api version for helm chart
  charts/sscs-ccd-callback-orchestrator/Chart.yaml
Labels: ns:sscs-ccd-callback-orchestrator-pr-200

#208 Enable AKS
  Jenkinsfile_CNP
  charts/sscs-ccd-callback-orchestrator/Chart.yaml
  charts/sscs-ccd-callback-orchestrator/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs-ccd-callback-orchestrator-pr-208

#209 Use env variable for idam s2s auth
  charts/sscs-ccd-callback-orchestrator/Chart.yaml
  charts/sscs-ccd-callback-orchestrator/values.yaml
Labels: ns:sscs-ccd-callback-orchestrator-pr-209
