Repository hmcts/sscs-ccd-callback-orchestrator, pull requests merged in 2020-10, with the labels that each got.

#401 SSCS-8220: Tech debt - Remove common library from SSCS CCD Callback O…
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/Application.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/CcdCallbackOrchestratorController.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/CaseData.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/sscs/exception/OrchestratorJsonException.java
  src/test/java/uk/gov/hmcts/reform/sscs/controllers/CcdCallbackOrchestratorControllerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-401

#404 SSCS-8213: Tech debt – Upgrade Owasp to 6.x
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-404

#403 SSCS-8224 log messageId after publish
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/servicebus/TopicJmsTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/CcdCallbackOrchestratorController.java
  src/main/java/uk/gov/hmcts/reform/sscs/servicebus/TopicPublisher.java
  src/test/java/uk/gov/hmcts/reform/sscs/controllers/CcdCallbackOrchestratorControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/servicebus/TopicPublisherTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-403

#417 fix the build after the gradle upgrade
  .github/renovate.json
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/CcdCallbackOrchestratorController.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-417

#419 Add smoke test
  src/smokeTest/java/uk/gov/hmcts/reform/sscs/SmokeTest.java
  src/smokeTest/resources/validAppealCreatedCallback.json
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-419

#428 Suppress tomcat package
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-428

#429 added folder for reporting
  functional-output/test.txt
  security.sh
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-429

#423 SSCS-8214 bump common
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-423
