Repository hmcts/sscs-ccd-callback-orchestrator, pull requests merged in 2020-06, with the labels that each got.

#279 SSCS-7587 - Upgrade java chart. Add renovate
  .github/renovate.json
  build.gradle
  charts/sscs-ccd-callback-orchestrator/Chart.yaml
  charts/sscs-ccd-callback-orchestrator/requirements.yaml
Labels: ns:sscs, rel:sscs-ccd-callback-orchestrator-pr-279

#283 SSCS-7587 - Add readiness health path
  charts/sscs-ccd-callback-orchestrator/Chart.yaml
  charts/sscs-ccd-callback-orchestrator/values.yaml
Labels: ns:sscs, rel:sscs-ccd-callback-orchestrator-pr-283

#284 SSCS-7418 Integrate HMCTS Java plugin
  build.gradle
Labels: ns:sscs, rel:sscs-ccd-callback-orchestrator-pr-284
