Repository hmcts/sscs-ccd-callback-orchestrator, pull requests merged in 2023-07, with the labels that each got.

#1069 CVE Fix - 03.07.23
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-1069

#1070 CVEFix - 31.07.23
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-1070

#1054 SSCS-11720 - Application Insights and Java 17 Upgrade
  .gitignore
  Dockerfile
  build.gradle
  charts/sscs-ccd-callback-orchestrator/Chart.yaml
  charts/sscs-ccd-callback-orchestrator/values.yaml
  config/owasp/suppressions.xml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/SwaggerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/AuthorisationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-1054

#1071 Java 17 secret fix
  charts/sscs-ccd-callback-orchestrator/Chart.yaml
  charts/sscs-ccd-callback-orchestrator/values.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-1071

#1073 revert - java 17
  Dockerfile
  build.gradle
  charts/sscs-ccd-callback-orchestrator/Chart.yaml
  charts/sscs-ccd-callback-orchestrator/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/SwaggerConfiguration.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/service/AuthorisationServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-ccd-callback-orchestrator-pr-1073
